<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65692327803-d9pcs5co6ttcjjbl9fh029de8s0or79r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65692327803-d9pcs5co6ttcjjbl9fh029de8s0or79r</string>
	<key>API_KEY</key>
	<string>AIzaSyBvCWgbFMwxTNbqY-Ume8GXQUsjAkfJdlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>65692327803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.user.home.MessangerApp</string>
	<key>PROJECT_ID</key>
	<string>messangerapp-d5d28</string>
	<key>STORAGE_BUCKET</key>
	<string>messangerapp-d5d28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65692327803:ios:e3a936b1f13e4973f5a7de</string>
</dict>
</plist>